h1
{
	font-family: courier;
	font-size: 2em;
}

#MonCompteFieldset label
{
	font-family: courier;
	font-size: 1em;
}

#MonCompteFieldset span
{
	font-size: 1em;
	font-weight: bold;
}

#MonCompteFieldset
{
	border: 3px solid black;
	box-shadow: 6px 6px 15px black;
	border-radius: 5px;
	width: 25em;
	background-color: white;
	padding: 1em;
}

#MonCompteFieldset td
{
	height: 3em;
}

.donnees
{
	float: right;
	font-size: 1.5em;

}

.boutonMDP
{
	width:110px;
	cursor:pointer;
	text-transform:capitalize;
	border-radius:12px 0 12px 0;
	background: #DCDCDC;
	border:none;
	color:black;
	font:bold 12px Verdana;
	text-align: center;
	padding:6px 0 6px 0;
	box-shadow:2px 2px 3px #999;
	float: left;
}
.boutonPerso
{
	width:110px;
	cursor:pointer;
	text-transform:capitalize;
	border-radius:12px 0 12px 0;
	background: #DCDCDC;
	border:none;
	color:black;
	font:bold 12px Verdana;
	text-align: center;	
	padding:6px 0 6px 0;
	box-shadow:2px 2px 3px #999;
	float: right;
}

body
{
	background: linear-gradient(silver, white);
}