#HomeContainer p.entete
{
	font-family: Brush Script MT;
	font-size: 2.5em;
	padding-left: 1em;
	padding-right: 1em;
}

p.presentation
{
	text-align: center;
	font-size : 1.5em;
	font-family: Brush Script MT;
	border: 3px solid black;
	box-shadow: 6px 6px 15px black;
	border-radius: 5px;
	padding : 1em;
	margin : 1em;
	background-color: white;
}

#event
{
	margin: 1em;
}

#eve
{
	margin: 0.5em;
	float:right;
	width: 20em;
}