body{
	background: #FFF8DC;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
	margin: 0;

	background-color: #F5F5F5;
	border-right: 1px solid #BBB;
}

nav h2 {
	text-align: center;
}

nav ul {
	list-style: none;
	padding: 20px;
}

nav li a {
	display: block;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 5px;
	border-bottom: 1px solid #BBB;
}

nav li:hover {
	background-color: #CCC;
}

nav a {
	cursor: pointer;
}

nav a {
	text-decoration:none;
	color: #333;
	font-size: 16px;
}

header {
	position: absolute;
	top: 0;
	left: 200px;
	right: 0;
	height: 150px;
}

header .title {
	position: absolute;
	left: 0px;
	right: 250px;
	height: 100%;
}

header .title_helper {
	display: table;
	width: 100%;
	height: 100%;
}

header .title a {
	text-decoration: none;
	position: relative;
	color: #333;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

header .title a h1 {
	margin: 0;
	padding: 0;
	font-size: 36px;
}

header .connexion {
	position: relative;
	float: right;
	width: 250px;
	height: 100%;
	padding: 20px 20px 20px 0px;
	box-sizing: border-box;
}

header .connexion_helper {
	border-left: 1px solid #BBB;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
}

section.contents {
	position: absolute;
	top: 200px;
	left: 200px;
	right: 0;
	overflow-x: hidden;
	padding: 10px;
}